@model BLL.ViewModel.NewsModels.NewsViewModel

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detail</h1>

<div>
    <h4>NewsViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NewsContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NewsContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DayOfPost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DayOfPost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChannelId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChannelId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinkImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinkImage)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
